---
import "../styles/global.css";
import BaseLayout from "./BaseLayout.astro";

const {
  title,
  description,
  author,
  pubDate,
  category,
  tags,
} = Astro.props;

const formattedDate = new Intl.DateTimeFormat("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
}).format(pubDate);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{title}</title>
    <meta name="description" content={description} />
  </head>

  <body>
    <main class="article-container">

     <header class="article-header">

      <span class="article-category">
       {category}
      </span>

      <h1>{title}</h1>

      <p class="article-description">
       {description}
      </p>

      <div class="article-meta">
      <span>👤 {author}</span>
      <span>📅 {formattedDate}</span>
      </div>

    </header>

   <article class="article-content">
    <slot />
  </article>

  {tags && (
  <div class="article-tags">
    {tags.map((tag: string) => (
      <span class="tag">{tag}</span>
    ))}
  </div>
)}
</main>
  </body>
</html>